flows.json
[{"id":"2e6df23d.4ddd8e","type":"tab","label":"状態表示","disabled":false,"info":""},{"id":"536e6bfe.0e71c4","type":"mqtt out","z":"2e6df23d.4ddd8e","name":"","topic":"testmqtt/remocon/cpuTemp998","qos":"0","retain":"","broker":"e5a3bdc8.169cc","x":970,"y":200,"wires":[]},{"id":"d3fde531.a0dd98","type":"inject","z":"2e6df23d.4ddd8e","name":"1分周期","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/home/tk","payloadType":"str","x":140,"y":100,"wires":[["fd756fa0.9668"]]},{"id":"4513838b.bb86ec","type":"file in","z":"2e6df23d.4ddd8e","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":320,"wires":[["27ba2fb3.ff788"]]},{"id":"bb3a4a5b.ed94b8","type":"file in","z":"2e6df23d.4ddd8e","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":380,"wires":[["f696f8d4.370fe8"]]},{"id":"27ba2fb3.ff788","type":"csv","z":"2e6df23d.4ddd8e","name":"cpu_temp","sep":":","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"time,null,null1,cpu_temp","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":580,"y":320,"wires":[["cd622cee.222da"]]},{"id":"f696f8d4.370fe8","type":"csv","z":"2e6df23d.4ddd8e","name":"cpu_rate","sep":":","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"time,null,cpu_rate","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":580,"y":380,"wires":[["f974a508.e23978"]]},{"id":"326e59c7.535db6","type":"debug","z":"2e6df23d.4ddd8e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":460,"wires":[]},{"id":"1c6625b2.21677a","type":"change","z":"2e6df23d.4ddd8e","name":"T_remocon","rules":[{"t":"set","p":"folder","pt":"msg","to":"T_remocon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":220,"wires":[["c3f12ffd.a0b47","9d262f3e.24f3e"]]},{"id":"315ab23f.7457de","type":"comment","z":"2e6df23d.4ddd8e","name":"user","info":"","x":190,"y":180,"wires":[]},{"id":"fd756fa0.9668","type":"change","z":"2e6df23d.4ddd8e","name":"pi","rules":[{"t":"set","p":"user","pt":"msg","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":220,"wires":[["1c6625b2.21677a"]]},{"id":"c0360c18.73394","type":"comment","z":"2e6df23d.4ddd8e","name":"folder","info":"","x":350,"y":180,"wires":[]},{"id":"c3f12ffd.a0b47","type":"template","z":"2e6df23d.4ddd8e","name":"cpu_temp_data.txt","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{user}}/{{folder}}/cpu_temp_data.txt\n","output":"str","x":230,"y":320,"wires":[["4513838b.bb86ec"]]},{"id":"9d262f3e.24f3e","type":"template","z":"2e6df23d.4ddd8e","name":"cpu_temp_data.txt","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{user}}/{{folder}}/cpu_rate_data.txt\n","output":"str","x":230,"y":380,"wires":[["bb3a4a5b.ed94b8"]]},{"id":"beed6ab.6803698","type":"comment","z":"2e6df23d.4ddd8e","name":"filenameプロパティでファイルネームを渡す。","info":"","x":310,"y":440,"wires":[]},{"id":"b07b604d.b72a1","type":"inject","z":"2e6df23d.4ddd8e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":750,"y":200,"wires":[["536e6bfe.0e71c4"]]},{"id":"cd622cee.222da","type":"calculator","z":"2e6df23d.4ddd8e","name":"1:1","inputMsgField":"payload.cpu_temp","outputMsgField":"payload","operation":"div","constant":"1","round":false,"decimals":0,"x":752,"y":320,"wires":[["f5462382.ac1a8","326e59c7.535db6","172221c.92178de","536e6bfe.0e71c4"]]},{"id":"f974a508.e23978","type":"calculator","z":"2e6df23d.4ddd8e","name":"1:1","inputMsgField":"payload.cpu_rate","outputMsgField":"payload","operation":"div","constant":"1","round":false,"decimals":0,"x":751,"y":379,"wires":[["cd6c802.bbba88","326e59c7.535db6","bc2e8c20.5e49c"]]},{"id":"f5462382.ac1a8","type":"ui_gauge","z":"2e6df23d.4ddd8e","name":"","group":"e7db4c84.3f1de","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU温度","label":"units","format":"{{value}}度","min":"0","max":"80","colors":["#3d48e1","#e3f11e","#e7440d"],"seg1":"40","seg2":"60","x":940,"y":260,"wires":[]},{"id":"cd6c802.bbba88","type":"ui_gauge","z":"2e6df23d.4ddd8e","name":"","group":"e7db4c84.3f1de","order":4,"width":0,"height":0,"gtype":"gage","title":"CPU使用率","label":"units","format":"{{value}}%","min":"0","max":"100","colors":["#3d48e1","#41ec7d","#e7440d"],"seg1":"20","seg2":"50","x":950,"y":360,"wires":[]},{"id":"172221c.92178de","type":"ui_chart","z":"2e6df23d.4ddd8e","name":"","group":"e7db4c84.3f1de","order":2,"width":0,"height":0,"label":"cpu温度","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":940,"y":300,"wires":[[]]},{"id":"bc2e8c20.5e49c","type":"ui_chart","z":"2e6df23d.4ddd8e","name":"","group":"e7db4c84.3f1de","order":5,"width":0,"height":0,"label":"cpu使用率","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":950,"y":400,"wires":[[]]},{"id":"e5a3bdc8.169cc","type":"mqtt-broker","name":"Free Public MQTT 5 Broker Server","broker":"broker.emqx.io","port":"1883","tls":"4ad98a91.f81c14","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e7db4c84.3f1de","type":"ui_group","name":"状態表示","tab":"dc755b72.c0f8a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4ad98a91.f81c14","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"dc755b72.c0f8a8","type":"ui_tab","name":"状態表示","icon":"dashboard","order":8,"disabled":false,"hidden":false}]